*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
li{
    list-style: none;
}
a {
    text-decoration: none;
}
header{
    font-family: 18px;
    position: relative;
}
.ghost{
    width: 100%;
    height: 40px;
}
.logo a{
    width: 120px;
    padding: 5px;
    top:30px;
    font-size: 15px;
    color:black ;
    background: #bf900d;
    border-radius: 10px;
    text-decoration: bold;
    font-family: sans-serif;
    border: 2px solid #bf900d;
    position: relative;
    left: 716px;
    text-align: center;
}
.logo {
    width: 100%;
    height: 160px;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: rgb(226, 185, 48);
}
.abs-pos{
    position: absolute;
    top: 160px;
    right: 0;
}
.fix-pos{
    position: fixed;
    top: 0;
    right: 0;
}
.nav-bar {
    width: 100%;
    height: 40px;
    background-color: #bf900d;
    display: grid;
    align-content: center;
    justify-content: center;
}
.nav-bar ul{
    display: grid;
    grid-auto-flow: column;
}
.nav-bar li{
    width: 141px;
    height: 40px;
    display: grid;
    justify-content: center;
    align-content: center;
}
.nav-bar a{
    font-family: 'Permanent Marker', cursive;
    color: black;
    font-size: 1em;
}
main section:nth-child(1){
    height: 100vh;
    background: #b81c24;
    font-size: 40px;   
}
.imagemgri{
    float: right;
    margin-right: 140px;
    margin-top: -280px;
}
.brco1{
    font-size: 17px;
    text-indent: 30px;
    text-align: left;
    margin: 0px;
    font-family: sans-serif;
    margin-left: 25px;
    margin-top: 110px;
    margin-bottom: auto;
    width: 600px;
    text-justify: inter-word;
    text-align: justify;
}
.brco4{
    font-size: 17px;
    text-indent: 30px;
    text-align: left;
    margin: 0px;
    font-family: sans-serif;
    margin-left: 25px;
    margin-top: 174px;
    margin-bottom: auto;
    width: 600px;
    text-justify: inter-word;
    text-align: justify;
}
.gr{
    color: #b81c24;
    width: 1px;
}
.so{
    color: #2fad4a;
    width: 1px;
}
.lu{
    color: #dcb728;
    width: 1px;
}
.co{
    color: #078db3;
    width: 1px;
}
main section img:nth-child(2){
    width: 400px;
    height: 450px;
    float: right;
    margin-right: 140px;
    margin-top: -255px;
}
main section:nth-child(2){
    height: 100vh;
    background: #2fad4a;
}
main section img:nth-child(3){
    width: 400px;
    height: 450px;
    float: right;
    margin-right: 140px;
    margin-top: -225px;
}
main section:nth-child(3){
    height: 100vh;
    background: #078db3;
}
.brco{
    font-size: 17px;
    text-indent: 30px;
    text-align: left;
    margin: 0px;
    font-family: sans-serif;
    margin-left: 25px;
    margin-top: 150px;
    margin-bottom: auto;
    width: 600px;
    text-justify: inter-word;
    text-align: justify;
}
main section img:nth-child(4){
    width: 400px;
    height: 450px;
    float: right;
    margin-right: 140px;
    margin-top: -225px;
}
main section:nth-child(4){
    height: 100vh;
    background: #dcb728;
}
main section {
    font-family: 'Permanent Marker', cursive;
    grid-template-columns: 900px 300px;
    
}
.grifi1 h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    text-decoration-line: overline;
    width: 30%;
}
.grifi1{
    font-size: 20px;
    text-indent: 30px;
    text-align: left;
    margin: 0px;
    font-family: sans-serif;
    margin-left: 25px;
    margin-top: 130px;
    margin-bottom: auto;
    width: 600px;
    text-justify: inter-word;
    text-align: justify;
}
.grifi{
    font-size: 20px;
    text-indent: 30px;
    text-align: left;
    margin: 0px;
    font-family: sans-serif;
    margin-left: 25px;
    margin-top: 150px;
    margin-bottom: auto;
    width: 600px;
    text-justify: inter-word;
    text-align: justify;
}
.grifi h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    text-decoration-line: overline;
    width: 30%;
}
#bruxos{
    width: 100%;
    display: inline;
    clear: both;
}
.grd{
    width: 25%;
    height: 100vh;
    float: left;
    background-color: #b81c24;
}
.sod{
    float: left;
    width: 25%;
    height: 100vh;
    background-color: #2fad4a;
}
.cod{
    float: left;
    width: 25%;
    height: 100vh;
    background-color: #078db3;
}
.lud{
    float: left;
    width: 25%;
    height: 100vh;
    background-color: #dcb728;
}
.formularios{
    float: center;
}
.fundo{
    position: absolute;
    float: center;
    margin-top: 87px;
    margin-left: 237px;;
    padding: 30px;
    width: 65%;
    height: 80%;
    background-color: #bf900d;
    opacity: 95%;
}
#info{
    display: block;
}
.btn_submit{
    color: blue;
    background-color: chartreuse;
    border-style: dotted;
}